<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About help</title>
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <p>Some text here</p>
    <footer>Copyright {{currentYear}}</footer>
</body>

</html>